{% extends "bootstrap/base.html" %}

{% block title %}汽车之家论坛数据分析{% endblock %}

{% block head %}
    <script src="static/js/jquery.js"></script>
    <script src="static/js/echarts.js"></script>
    <script src='static/js/macarons.js' type="text/javascript"></script>
    <link rel='shortcut icon' type='image/x-icon' href='static/favicon.ico' />
    {{ super() }}
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-brand">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="/">首页</a></li>
          <li role="presentation"><a href="#">哈弗H6</a></li>
          <li role="presentation"><a href="#">宝骏510</a></li>
          <li role="presentation"><a href="#">传祺GS4</a></li>
          <li role="presentation"><a href="#">吉利博越</a></li>
          <li role="presentation"><a href="#">荣威</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <!--为ECharts准备一个具备大小（宽高）的Dom-->
    <!-- style="height:500px;border:1px solid #ccc;padding:10px;" -->
    <div class="row" style="width: 100%;height:50px;"></div>

    <div class="row" >
        <div class="col-md-12 panel panel-default">
            <h3 class="text-center">最HOT SUV论坛热度排行</h3>
            <div id="main" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col-md-6 panel panel-default">
            <h3 class="text-center">异步数据加载示例</h3>
            <div id="main" style="width: 100%;height:500px;"></div>
        </div>
        <div class="col-md-6 panel panel-default">
            <h3 class="text-center">汽车之家论坛传祺发帖量</h3>
            <div class="div" id="gs8" style="width: 100%;height:500px;"></div>

        </div>
    </div>


    <script src='static/js/gs8.js' type="text/javascript"></script>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'),'macarons');

    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title: {
            text: ''
        },
        tooltip: {},
        legend: {
            data:['蒸发量','降水量']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '蒸发量',
            type: 'bar',
            data: []
        },{
            name: '降水量',
            type: 'bar',
            data: []
        }]
    });

    myChart.showLoading(); // 显示加载动画

    // 异步加载数据
    $.post('/weather').done(function (data) {
        myChart.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: data.month
            },
            series: [{
                name: '蒸发量', // 根据名字对应到相应的系列
                data: data.evaporation.map(parseFloat) // 转化为数字（注意map）
            },{
                name: '降水量',
                data: data.precipitation.map(parseFloat)
            }]
        });
    });
    $(window).on('resize', function(){
        if(myChart != null && myChart != undefined){
            myChart.resize();
        }
    });
    </script>

{% endblock %}
